/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/*Our primary colors will be cyan, magenta, and yellow, with some black */

/* You can override the default Infima variables here. */
:root {
  /* typography */
  --ifm-font-family-base: var(--ifm-font-family-monospace);
  --ifm-link-decoration: underline;

  /* spacing */
  --ifm-spacing-vertical: 1.5rem;

  /* neon palette */
  --ifm-color-primary: #ff33ff;
  --ifm-color-secondary: #ffff00;
  --ifm-color-success: #39ff14;
  --ifm-color-info: #00ffff;
  --ifm-color-warning: #ff5f1f;
  --ifm-color-danger: #ff3131;

  /* theme */
  --ifm-background-color: var(--ifm-color-white);
  --ifm-link-color: var(--ifm-color-primary);
  --ifm-navbar-background-color: rgba(255, 48, 255, 0.15);

  h2 {
    background-color: var(--ifm-color-secondary);
    padding-left: var(--ifm-spacing-horizontal);
    padding-right: var(--ifm-spacing-horizontal);
  }

  .footer {
    --ifm-footer-color: rgba(128, 128, 128, 1);
    --ifm-footer-background-color: rgba(128, 128, 192, 0.18);

    --ifm-footer-title-color: var(--ifm-color-primary);
    --ifm-footer-link-color: var(--ifm-link-color);
  }
}

[data-theme="dark"] {
  --ifm-background-color: var(--ifm-color-black);
}

.hide {
  display: none;
}