body {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: black;
}

.opener {
  color: cyan;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 0 11vw;
  box-sizing: border-box;
  overflow-y: hidden;
}

.opener-text {
  font-size: 5vw;
  font-weight: 400;
}

.logo-container {
  perspective: 400px;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  color: gold;
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  text-align: center;
  position: relative;
  font-size: 55vw;
  span {
    display: block;
  }
  .two {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.intro {
  perspective: 400px;
  overflow: hidden;
  max-width: 3000px;
  margin: auto;
}

.crawl {
  font-size: min(7vw, 10rem);
  padding-block-start: min(100vh, 500px);
  padding-block-end: 100vh;
  position: relative;
  transform-origin: center bottom;
  transform: translateZ(0) rotateX(25deg);
  color: #feda4a;
  overflow: hidden;

  h2, h3 {
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

.subscribe {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}