:root {
  --app-bg-color: #000;
  --color-gold: #feda4a;
  --color-cyan: #0d9df6;
  --color-white: #fff;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: var(--app-bg-color);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opener {
  color: var(--color-cyan);
  background-color: var(--app-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  padding: 0 11vw;
  box-sizing: border-box;
  overflow-y: hidden;
}

.opener-text {
  font-size: 5vw;
  font-weight: normal;
  text-shadow: 0 0 1rem rgba(128, 128, 255, 0.3);
}

.logo-container {
  perspective: 400px;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  overflow: hidden;
}

.logo {
  color: var(--color-gold);
  font-family: "Orbitron", sans-serif;
  text-align: center;
  position: relative;
  font-size: 55vw;
  span {
    display: block;
  }
  .two {
    color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.intro {
  perspective: 800px;
  overflow: hidden;
  max-width: 3000px;
  margin: auto;
}

.crawl {
  font-size: min(7vw, 10rem);
  padding-block-start: min(100vh, 500px);
  padding-block-end: 100vh;
  position: relative;
  transform-origin: center bottom;
  transform: translateZ(0) rotateX(25deg);
  color: var(--color-gold);
  overflow: hidden;

  h2,
  h3 {
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

.subscribe {
  height: 100vh;
  iframe { 
    border:1px solid #EEE;
  }
}
